<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/mainpage.css">
    <title>cmapus connect</title>
</head>
<body>
    <div class="containner">
        <div class="head">
            <div class="head1">
                <div class="back"><img src="../public/Vector.png" alt="" srcset=""></div>
                <div class="headding">
                    <h2>Harshalal</h2>
                    <p>Galaxy Hostel,Opp.YCCE ,Wanadongri…</p>
                
                </div>
                <div class="user">
                    <img src="../public/Frame (1).png" alt="" srcset="">
                </div>
            </div>
            <div class="search">
              
             
                <input type="search" name="" id="" placeholder="Search for Mess and nearby food joints"> 
                <img src="../public/Vector.svg" alt="">
             
            </div>
        </div>
        <div class="rect"></div>
        <div class="buffer">
            <p>Missing home food? Explore best mess options near your campus.</p>
            <img src="../public/Frame (2).png" alt="" srcset="">
        </div>
        <div class="hcontenner"></div>
        <div class="maintext"><p>AMAZING HOSTEL DEALS NEAR YCCE !</p></div>
        <div class="vcontenner"></div>
        <div class="bottomnav">
            <img src="../public/Rectangle 1.png" alt="" srcset="" class="logo">
            <img src="../public/food.svg" alt="" srcset="" class="food">
            <img src="../public/hostel.svg" alt="" srcset="" class="hostel">
            <img src="../public/search.svg "alt="" srcset="" class="search2">
            <img src="../public/account.svg" alt="" srcset="" class="account">
        </div>
    </div>
</body>
</html>